gunicorn==20.1.0
rq==1.10.1
pytesseract==0.3.10
langchain~=0.1.1
langchain_openai~=0.0.2
loguru
tenacity==8.2.2
pydantic
label-studio-ml @ git+https://github.com/HumanSignal/label-studio-ml-backend.git